<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
</head>
<body>
   <div class="card projects" onclick="window.location.href='/projects'">
      <h2>Projects (GitHub Portfolio)</h2>
      <ul style="text-align:justify;">
        <li><strong>Calories Tracker (Python, APIs):</strong> Built an app integrating APIs for nutrition tracking.</li>
        <li><strong>Stock Market News (Python, API + Automation):</strong> Designed a tool fetching and analyzing stock updates.</li>
        <li><strong>Quiz Game & Snake Game (Python):</strong> Implemented classic games showcasing OOP principles.</li>
        <li><strong>Harry Potter Cloak (OpenCV):</strong> Computer vision project simulating invisibility with background subtraction.</li>
        <li><strong>Machine Learning Conveyor System:</strong> Created an ML model for apple sorting using image classification.</li>
        <li><strong>Blackjack & Hangman (Python):</strong> Interactive games with algorithmic logic and user interface.</li>
      </ul>
    </div>
</body>
</html>
